[submodule "back-midproj-hdv"]
	path = back-midproj-hdv
	url = https://github.com/thuanpham582002/back-midproj-hdv
[submodule "font-midproj-hdv"]
	path = font-midproj-hdv
	url = https://github.com/thuanpham582002/font-midproj-hdv
